* {
    margin: 0px;
}






/* BARRA DE NAVEGAÇÃO NO TOP DO HEADER */

.navTop {}

.navTop ul {
    list-style: none;
    padding-left: 0px;
    padding: 8px;
    background-color: #dbdbdb;
}

.navTop li {
    display: inline-block;
}

.navTop a {
    text-decoration: none;
    color: black;
    padding: 8px;
}

.navTop a:hover {
    color: darkslategray;
    font-weight: bold;
}








/* BARRA DE NAVEGAÇÃO NO BOTTOM DO HEADER */

.navBottom {}

.navBottom ul {
    list-style: none;
    padding-left: 0px;
    padding: 8px;
    background-color: #dbdbdb;
}

.navBottom li {
    display: inline-block;
}

.navBottom a {
    text-decoration: none;
    color: black;
    padding: 8px;
}

.navBottom a:hover {
    color: darkslategray;
    font-weight: bold;
}




/* TRATAMENTO DOS @MEDIA E RESPONSAVIDADE DA PÁGINA */

@media screen and (min-width 460px) {
    
}









/* TÍTULOS E COMPONENTES DO HEADER */
header {
    background-image: url();
}

header h1 {
    
}

imagemBanner {  
    
}









/* SECÇÃO DA PÁGINA COM ARTICLES E CONTEÚDOS */
section {
    margin-top: 20px;
}

article {
    
}








/* PARTE DO RODAPÉ DA PÁGINA */
footer {
    width: 100%;
    height: 500px;
    background-color: red;
}